// Buttons
//
// Button styles can be applied to anything with the `.btn` class applied.
// However, typically you'll want to apply these to only `<a>` and `<button>` elements for the best rendering.
//
// Styleguide 1

// Base styles & states
//
// :hover       - Hover state.
// :active      - Active state.
// .disabled    - Disabled button. If you use `<button>` element, that is acceptable to add `disabled` attribute instead.
//
// Markup:
// <button type="submit" class="btn btn-primary {{modifier_class}}">Button</button>
// <button type="submit" class="btn {{modifier_class}}">Button</button>
//
// Styleguide 1.1
// Core

.btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
	font-size: 16px;
	line-height: 20px;

    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    border-bottom-color: darken(#ccc, 20%);

    // Hover/focus state
    &:hover,
    &:focus {
        color: #000;
        background: blue;
        text-decoration: none;
    }

    // Focus state for keyboard and accessibility
    &:focus {
        border: solid 1px #000;
    }

    // Active state
    &.active,
    &:active {
        background-image: none;
        outline: 0;
    }

    // Disabled state
    &.disabled,
    &[disabled] {
        cursor: default;
        background-image: none;
		&:hover {
			cursor: not-allowed;
		}
    }

    &.btn-primary {
    	background: red;
    }
}
